<%- include("partials/header.ejs") %>

<h1 class="intro">Pembantaian 65</h1>

<div class="container">
    <div class="item left-item p-mt">
        <p class="end-txt-align">G30S merupakan bagian dari sebuah organisasi yang terdiri dari anggota militer yang merasa tidak puas dengan kebijakan pemerintahan Presiden Sukarno pada saat itu</p>
    </div>
    <div class="item right-item">
        <h1>1965</h1>
        <h2>30 September</h2>
        <p>Upaya kudeta oleh Gerakan 30 September (G30S)</p>
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <p>Peristiwa 30 September 1965 ini kemudian menjadi awal dari pembersihan terhadap kelompok-kelompok sayap kiri di Indonesia, dengan dimulainya pembunuhan massal terhadap anggota Partai Komunis Indonesia (PKI) dan simpatisannya dalam periode yang dikenal sebagai "Pembersihan Gerakan 30 September" atau "Penghancuran PKI"</p>
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <h2 class="end-txt-align">1 Oktober</h2>
        <p class="end-txt-align">Penculikan dan pembunuhan sejumlah jenderal di Jakarta dan Yogyakarta</p>
    </div>
    <div class="item right-item">
        <img class="img43 img-ml p-mt" src="images/65/10-pahlawan-revolusi.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img43" src="images/65/pahlawan-revolusi.jpg" alt="">
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <h2>2 Oktober</h2>
        <img class="img42" src="images/65/soeharto.jpg" alt="">
        <p>Mayor Jenderal Soeharto mengambil alih situasi dan menyatakan keadaan darurat</p>
    </div>
</div>
<div class="container mark">
    <div class="item left-item p-mt">
        <p class="end-txt-align">Fase yang sangat kelam dalam sejarah Indonesia yaitu pembersihan anti-komunis dimulai, dipimpin oleh militer dan kelompok paramiliter</p>
    </div>
    <div class="item right-item p-2mt">
        <h2>Akhir Oktober</h2>
        <p>Pembunuhan massal dan penangkapan terhadap yang dicurigai sebagai komunis terjadi di seluruh Indonesia</p>
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img42" src="images/65/pembantaian.jpg" alt="">
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <img class="img53" src="images/65/pembantaian2.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img53" src="images/65/pembantaian6.png" alt="">
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <img class="img53" src="images/65/pembantaian4.png" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img53" src="images/65/pembantaian5.png" alt="">
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <img class="img53" src="images/65/pembantaian7.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <h1 class="end-txt-align">1966</h1>
        <h2 class="end-txt-align">Maret</h2>
        <p class="end-txt-align">Soeharto resmi mengambil alih sebagai presiden pelaksana tugas</p>
    </div>
    <div class="item right-item p-2mt">
        <p>Propaganda anti-komunis intensif, menyalahkan Partai Komunis Indonesia (PKI) atas upaya kudeta</p>
    </div>
</div>
<div class="container mark-back">
    <div class="item left-item p-mt">
        <h1 class="end-txt-align">1967</h1>
        <p class="end-txt-align">Pendirian rezim "Orde Baru" di bawah pemerintahan Soeharto</p>
    </div>
    <div class="item right-item p-2mt">
        <p>Persidangan dan pembersihan terus berlanjut, mengkonsolidasikan kontrol militer</p>
    </div>
</div>
<div class="container">
    <div class="item left-item p-4mt">
    </div>
    <div class="item right-item p-4mt">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <h1>1980-1990an</h1>
        <p>Diskusi terbatas tentang peristiwa 1965 mulai muncul</p>
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <h1 class="end-txt-align">1998</h1>
        <p class="end-txt-align">Soeharto mengundurkan diri setelah protes massal, memunculkan diskusi lebih terbuka tentang peristiwa 1965</p>
    </div>
    <div class="item right-item">
        <img class="img53 p-2mt" src="images/65/Suharto-resigns.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <h1>2000-2020an</h1>
        <p>Debat berlanjut, penyelidikan, dan upaya rekonsiliasi mengenai peristiwa 1965 di Indonesia</p>
    </div>
</div>

<a href="#" class="goup-btn p-mt">
    <i class="fa-solid fa-arrow-up fa-2xl"></i>
</a>

<%- include("partials/footer.ejs") %>