<%- include("partials/header.ejs") %>

<h1 class="intro">Kerusuhan Mei 98</h1>

<div class="container">
    <div class="item left-item end-txt-align">
        <h1>1998</h1>
        <h2>12 Mei</h2>
        <p>Empat mahasiswa Universitas Trisakti tewas dalam demonstrasi menuntut reformasi</p>
    </div>
    <div class="item right-item p-mt">
        <img class="img34" src="/images/68/pahlawan-reformasi.png" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt end-txt-align">
        <h2>13 Mei</h2>
        <p>Kerusuhan pecah di Jakarta setelah peristiwa Trisakti. Toko-toko dijarah, properti dihancurkan, dan etnis Tionghoa menjadi target serangan</p>
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img42" src="/images/68/penjarahan.jpg" alt="">
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <img class="img42" src="/images/68/kerusuhan.png" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img42" src="/images/68/kerusuhan2.png" alt="">
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <h2>14 Mei</h2>
        <p>Kerusuhan meluas ke kota-kota lain di Indonesia seperti Solo, Medan, Surabaya, dan beberapa kota besar lainnya</p>
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt end-txt-align">
        <h2>18 Mei</h2>
        <p>Pemerintah menyatakan keadaan darurat di beberapa wilayah untuk mengendalikan kerusuhan</p>
    </div>
    <div class="item right-item">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt">
        <img class="img43" src="/images/68/pendudukan-gedung-dpr.jpeg" alt="">
    </div>
    <div class="item right-item p-2mt">
        <h2>21 Mei</h2>
        <p>Presiden Soeharto mengumumkan pengunduran dirinya dari jabatan presiden, mengakhiri pemerintahan orde baru yang telah berlangsung selama 32 tahun</p>
    </div>
</div>
<div class="container">
    <div class="item left-item">
    </div>
    <div class="item right-item p-mt">
        <img class="img43" src="/images/68/soeharto-mudur.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="item left-item p-mt end-txt-align">
        <p>Setelah runtuhnya Orde Baru pada Mei 1998, terungkap bahwa banyak aktivis dan mahasiswa yang diculik dan "hilang" selama pemerintahan Soeharto</p>
    </div>
    <div class="item right-item">
    </div>
</div>

<a href="#" class="goup-btn p-mt">
    <i class="fa-solid fa-arrow-up fa-2xl"></i>
</a>

<%- include("partials/footer.ejs") %>