<%- include("partials/header.ejs") %>

<h1 class="intro">Kami belum lupa</h1>

<div class="events">
    <div class="event event1">
        <h1>Pembantaian 65</h1>
        <p>Sekitar 500.000 orang dibantai karena dituduh sebagai pendukung komunisme di Indonesia</p>
        <a href="/1" class="btn">Linimasa</a>
    </div>
    <div class="event event2">
        <h1>Kerusuhan Mei 98</h1>
        <p>Kerusuhan yang disebabkan kritik terhadap pemerintah Orde Baru, dan keruntuhan ekonomi akibat dari krisis finansial Asia 1997</p>
        <a href="/2" class="btn">Linimasa</a>
    </div>
</div>

<%- include("partials/footer.ejs") %>