@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

h1, h2 {
    font-family: 'Bitter', serif;
}

p, a {
    font-family: 'Work Sans', sans-serif;
}

nav {
    margin: 30px 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.intro {
    margin: 100px 0;
}

.events {
    margin: 30px 0;
}

.events div {
    height: 600px;
}

.events .event1 {
    background-color: brown;
}

.events .event2 {
    background-color: grey;
}

.event {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.event p {
    margin: 30px 0;
    width: 400px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50px;
}

.btn:hover {
    color: #000;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 50%;
}

.item h1 {
    font-size: 100px;
} 

.end-txt-align {
    text-align: end;
}

.p-mt {
    margin-top: 250px;
}

.p-2mt {
    margin-top: 500px;
}

.p-4mt {
    margin-top: 1000px;
}

.img43 {
    width: 400px;
    height: 300px;
}

.img42 {
    width: 400px;
    height: 200px;
}

.img53 {
    width: 450px;
    height: 300px;
}

.img24 {
    width: 200px;
    height: 400px;
}

.img34 {
    width: 300px;
    height: 400px;
}

.img-ml {
    margin-left: 15px;
}

footer {
    margin-top: 200px;
}

.goup-btn {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.brown-bg {
    background-color: brown;
}